/* Global */
html {
    height: 100%; /* for fixed footer */
}

body {
    margin: 0;
    padding: 0;

    /* for fixed footer */
    display: flex;
    flex-direction:column;
    min-height:100%;

    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #000;
    background-color: #f2f2f2;
}

.page-title {
    padding: 16px;
    text-align: center;
}

button {
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    margin-top: auto; /* for fixed footer */
    padding-bottom: 32px;
    text-align: center;
}

.nav-bar a {
    padding: 16px 32px;
    color: white;
    text-decoration: none;
    background-color: darkred;
    border-radius: 4px;
}

.nav-bar a:hover {
    background-color: red;
    transition: .5s;
}

/* Pomodoro Timer */
.timers-container {
    text-align: center;
    font-size: 24px;
}

.controls-container {
    text-align: center;
}

/* Settings */
.settings-container {
    text-align: center;
}

.settings-container form label {
    margin-right: 20px;
    text-align: left;
}

.settings-container form input {
    margin-left: 20px;
    width:50px;
    height:25px;
    text-align: center;
}

.settings-container form button {
    margin-top: 20px;
}


/* Show/Hide Elements */
.show {
    display: inline-block;
}

.hide {
    display: none;
}