@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Global */
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Open Sans", "sans-serif";
    font-size: 16px;
    line-height: 1.6em;
    color: black;
    background-color: beige;
}

.header, .footer {
    text-align: center;
}

.logo {
    margin: 16px 0;
    width: 64px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 16px;
    font-family: "Lobster", "cursive";
    color: brown;
}

.page-title {
    text-align: center;
}

.page-subtitle {
    text-align: left;
}

.content {
    margin: 16px;
    animation: fade-in linear .5s;
}

.footer {
    margin-top: auto;
    position: sticky;
    bottom: 0;
    background-color: brown;
}

.navbar {
    display: block;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: beige;
    transition: .1s;
}

[aria-current="page"] { /* disable current page's link */
    pointer-events: none;
    cursor: default;
    opacity: .5;
}

.caption {
    display: block;
}

/* Pomodoro Timer */
.timer {
    margin:auto;
    padding: 16px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-style: dashed;
}

/* Settings */
.settings {
    display: block;
    margin: auto;
}

.settings input {
    float: right;
    width: 64px;
    text-align: center;
}

/* Components */
button {
    padding: 16px 32px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4rem;
}

button:hover {
    background-color: slategray;
    transition: .1s;
}

.ctn-btn {
    background-color: green;
}

.hlt-btn {
    background-color: brown;
}

.nxt-btn {
    background-color: navy;
}

.sve-btn {
    width: 100%;
    background-color: brown;
}

/* Show/Hide */
.show {
    display: inline-block;
}

.hide {
    display: none;
}

/* Mobile View */
@media (min-width: 0) {
    .page-title {
        font-size: 48px;
    }
    
    .page-subtitle {
        font-size: 28px;
    }
    
    .timer {
        width: 20rem;
        height: 20rem;
        border-radius: 10rem;
    }

    .clock {
        font-size: 64px;
    }

    .controls {
        margin: 16px 0;
    }

    .pomo-log {
        font-size: 14px;
    }

    .settings {
        width: 95%;
    }

    .navbar a {
        margin: 8px 20px 0 20px;
    }

    .navbar ion-icon {
        font-size: 24px;
    }

    .caption {
        font-size: 12px;
    }
}

@media (min-width: 480px) {
    .timer {
        width: 24rem;
        height: 24rem;
        border-radius: 12rem;
    }
}

@media (min-width: 1024px) {
    .page-title {
        font-size: 64px;
    }

    .page-subtitle {
        font-size: 32px;
    }

    .timer {
        width: 28rem;
        height: 28rem;
        border-radius: 14rem;
    }
    
    .clock {
        font-size: 72px;
    }

    .controls {
        margin: 32px 0;
    }

    .pomo-log {
        font-size: 16px;
    }

    .settings {
        width: 50%;
    }

    .navbar a {
        margin: 8px 64px 0 64px;
    }

    .navbar ion-icon {
        font-size: 32px;
    }

    .caption {
        font-size: 16px;
    }
}

/* Animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}