@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Global */
html {
    height: 100%; /* for fixed footer */
}

body {
    margin: 0;
    padding: 0;

    /* for fixed footer */
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    font-family: "Open Sans", "sans-serif";
    font-size: 16px;
    line-height: 1.6em;
    color: black;
    background-color: beige;
}

header {
    padding: 16px 0;
    text-align: center;
}

.nav-bar a {
    margin: 0 24px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    color: brown;
    transition: .1s;
}

[aria-current="page"] { /* disable current page's link */
    pointer-events: none;
    cursor: default;
    opacity: .5;
}

.nav-bar ion-icon {
    font-size: 32px;
}

.caption {
    display: block;
}

h1, h2 {
    font-family: "Lobster", "cursive";
    color: brown;
}

h1 {
    padding: 16px;
    font-size: 60px;
    text-align: center;
}

.content {
    animation: fade-in linear .5s;
    text-align: center;
}

footer {
    display: none;
    margin-top: auto; /* for fixed footer */
    padding: 16px 0;
    text-align: center;
}

/* Pomodoro Timer */
.timer {
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    align-items: center;
    font-size: 48px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15rem;
}

.controls button {
    margin: 36px 12px;
    padding: 12px 36px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
}

.controls button:hover, .apply-button:hover {
    background-color: black;
    transition: .1s;
    cursor: pointer;
}

.continue-button {
    background-color: green;
}

.interrupt-button {
    background-color: brown;
}

.next-button {
    background-color: navy;
}

.pomo-log {
    font-size: 16px;
}

/* Settings */
.timer-settings {
    margin: auto;
    width: 25%;
    text-align:left;
}

.timer-settings input {
    float: right;
    width: 64px;
    text-align:center;
}

.apply-button {
    width: 25%;
    padding: 16px 32px;
    color: white;
    background-color: brown;
    border-style: none;
    border-radius: 4rem;
}

/* Show/Hide */
.show {
    display: inline-block;
}

.hide {
    display: none;
}

/* Mobile View */
@media (max-width: 767px) {
    h1 {
        font-size: 45px;
    }

    .timer {
        width: 20rem;
        height: 20rem;
        border-radius: 10rem;
    }

    .pomo-log {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    header {
        display: none;
    }

    footer {
        display: inline-block;
    }

    .nav-bar a {
        margin: 0 16px;
    }
}

@media (max-width: 1280px) {
    .timer-settings {
        width: 85%;
    }
}

/* Animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}